:root {
    --primary-color: #05386b;
    --secondary-color: #5cdb95;
}

.card {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    text-align: left;

    display: grid;
    grid-auto-columns: 20% 60% 20%;
}

.cardTitle {
    grid-column-start: 1;
    grid-column-end: 4;
}

.courseImage {
    width: 110px;
    height: 110px;
    background-color: var(--primary-color);
}

.coursePreview {
    /*margin-left: 1rem;*/
}

.cardCtrl {

}