:root {
    --primary-color: #05386b;
    --secondary-color: #5cdb95;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1.1rem 15%;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
}

.homeNavBar {
    animation: removeBg 700ms forwards;
}

@keyframes removeBg {
    from {
        border: 3px solid var(--primary-color);
        background-color: var(--primary-color);
    }
    to {
        border: 3px solid transparent;
        background-color: transparent;
    }
}

.active {
    border-bottom: 3px solid var(--secondary-color);
}

.logoContainer {
    background-color: white;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
}

.logoContainer img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
}

.navList {
    display: flex;
    margin:0 1rem;
    align-items: center;
    font-weight: 600;
}

.navList li {
    margin: 0 1rem;
    padding: 0 5px;
}

.navList li a {
    padding-bottom: 10px;
    color: white;
}

/* Right Navigation ---------- */
.navRight {
    display: flex;
}