:root {
    --primary-color: #055a91;
    --secondary-color: #5cdb95;
}

.cover {
    background:
            url("../../assets/home06.jpeg")
            no-repeat;
    background-size: cover;
    height: 100vh;
}

.coverDarkener {
    background-color: rgba(92, 219, 149, 0.3);
    height: 100%;
    width: 100%;
}

.cover a {
    background-color: white;
    border-radius: 50px;
    color: var(--primary-color);
    display: block;
    font-size: 1.5rem;
    margin: 32px auto 5px auto;
    padding: 18px 0;
    text-decoration: none;
    position: relative;
    width: 20%;
    transition:all 800ms ease-out;
    overflow: hidden; /* Otherwise, Hovering Around Link will activate the effect. */
    will-change: tranform; /* Browser Performance Optimization */
    z-index: 0;
}

.cover a::after {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    transform: translate(100%, -73%);
    transition:all 500ms ease-out;
    will-change: tranform; /* Browser Performance Optimization */
    z-index: -1;
}

.cover a:hover {
    color: white;
    background-color: transparent;
}

.cover a:hover::after {
    transform: translate(0, -73%);
}

.container {
    padding: 3rem;
    text-align: center;
    width: 50%;
    color: white;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}