.cover {
    background:
            url("../../assets/home06.jpeg")
            no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.cover a {
    text-decoration: none;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px 13px;
}

.cover a:hover {
}

.container {
    padding: 3rem;
    text-align: center;
    /*background-color: red;*/
    width: 50%;
    color: white;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.coverDarkener {
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
}