.cover {
    background:
            url("../../assets/home06.jpeg")
            no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.cover a {
    border: transparent 2px solid;
    border-radius: 20px;
    color: white;
    display: block;
    font-size: 1.5rem;
    margin: 32px auto 5px auto;
    padding: 5px 13px;
    text-decoration: none;
    width: 30%;
    transition:all 300ms ease-out;
}

.cover a:hover {
    border: white 2px solid;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.container {
    padding: 3rem;
    text-align: center;
    /*background-color: red;*/
    width: 50%;
    color: white;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.coverDarkener {
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
}