:root {
    --primary-color: #05386b;
    --secondary-color: #5cdb95;
}

.container {
    display: flex;
    margin: 5px auto;
    max-width: 70%;
}

.container main h1,
.container main h2,
.container main h3,
.container main h4,
.container main p {
    font-family: 'Zilla Slab', sans-serif;
}


.container aside {
    width: 25%;
    border-right: 3px solid var(--primary-color);
    margin-right: 2rem;
}

.container main {
    text-align: center;
}